/* global styles */
* {
    font-family: 'Lato';
    margin: 0;
}

.button-for-all {
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

/* header starts*/
/* bonus section */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f0ebf3;
    width: 100%;
    height: 90px;


}

h2 {
    align-items: center;
}

nav>UL {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-right: 100px;

}

#logo {
    margin-left: 100px;
    border-radius: 25px;
    height: 50px;
    margin-top: 20px;
}

.navbar li {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}

.navbar li a {
    text-decoration: none;
    color: rgb(40, 18, 76);
}

.head {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    gap: 100px;
}

.head-items {
    margin-left: 200px;
}

.head-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;

}

.head-detail {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.head-img {
    margin-right: 150px;
    margin-top: 50px;
}

.head button {
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
}

/* main */
/* instagram */
.instagram{
    margin: 130px 200px;

}
.instagram-container{
    text-align: center;
}
.instagram-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
padding-bottom: 20px;
}
.instagram-detail{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 0 280px 20px;
}


.instagram-image img{
    padding-top: 5px;
    width: 265px;
    padding-right: 12.45px;
}

/* subscribe */
.subscribe {
    background-image: url('images/Rectangle\ 9.png');
    background-size: cover;
    margin: 0 200px;
    text-align: center;
    margin-bottom: 130px;
}

.subscribe-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
    padding-bottom: 20px;
}

.subcribe-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;

    font-weight: 400;
    padding-bottom: 20px;


}

.subscribe-me {
    justify-content: space-around;
    padding-bottom: 100px;
    
}

.subscribe-me input {
    height: 50px;
    width: 600px;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    padding-left: 20px;
    margin-left: 110px;
    margin-right: 5px;

}

.subscribe-me [input="text"] {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.subscribe-me button {
    padding:10px 22px 18px ;
    border: none;
    border-radius: 4px;
}

/* footer section */
.foot {
    background-color: #111010;
    text-align: center;
    color: #f0ebf3;
    padding-bottom: 120px;

}

.footer-title {

    color: white;
    font-size: 48px;
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 20px;

}

.footer-title span {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding: 0px 480px 20px;
}